.section {
    margin-top: 2%;
    max-width: 1300px;
}

.sectionRow {
    display: flex;
    max-width: 1300px;
}

.sectionThreeColumns {
    flex: 33%;
    margin: 0.2%;
}

.buttonThreeColumns {
    margin-top: 1.3%;
    position: absolute;
}